<form data-type="hue" data-target="{{@key}}">
    <legend>Hue #{{@key}}</legend>
    <div class="form-group">
        <label for="inp_state-on">Aan</label>
        <input type="checkbox" name="on" id="inp_state-on" {{#if state.on}} checked="checked" {{/if}} />
    </div>

    {{# if state.hex }}
        {{!-- Hue color --}}

        <div class="form-group">
            <label for="inp_state-hex">Color</label>
            <input type="color" name="hex" value="{{state.hex}}" id="inp_state-hex" />
        </div>
    {{ else }}
        {{!-- Hue wit --}}

        <div class="form-group">
            <label for="inp_state-bri">Brightness</label>
            <input type="range" min="0" max="254" value="{{state.bri}}" step="1" name="bri" id="inp_state-bri" />
        </div>
    {{/ if }}
</form>
