<form data-type="hue" data-target="{{@key}}" id="hue__form">
    <legend>Hue #{{@key}}</legend>
    <div class="form-group">
        <label for="inp_state-on">Aan</label>
        <input type="checkbox" name="on" id="inp_state-on" {{#if state.on}} checked="checked" {{/if}} class="hue__input hue__input--checkbox" />
    </div>

    <div class="form-group">
        <label for="inp_state-hue">Hue</label>
        <input type="range" min="0" max="65535" value="{{state.hue}}" step="10" name="hue" id="inp_state-hue" class="hue__input hue__input--range" />
    </div>

    <div class="form-group">
        <label for="inp_state-bri">Bri</label>
        <input type="range" min="0" max="254" value="{{state.bri}}" step="1" name="bri" id="inp_state-bri" class="hue__input hue__input--range" />
    </div>

    <div class="form-group">
        <label for="inp_state-sat">Sat</label>
        <input type="range" min="0" max="254" value="{{state.sat}}" step="1" name="sat" id="inp_state-sat" class="hue__input hue__input--range" />
    </div>
</form>
